/* -------------------------------------------------- */
/* アスペクト比 */
/* -------------------------------------------------- */
:root {
    --aspect__1_1: 1/1;
    --aspect__16_9: 16/9;
    --aspect__3_4: 3/4;
    --aspect__4_3: 4/3;
}